@CHARSET "UTF-8";

/* jquery validate js 校验默认设置*/
.error {
	border: 1px solid red !important;
    border-top: 1px solid red !important;
    border-right: 1px solid red !important;
    border-bottom: 1px solid red !important;
    border-left: 1px solid red !important;
}

.valid {
	
}

label.error {
	POSITION: absolute;
	LEFT: 3px;
	z-index: 50;
}

/*加载提示*/
.loading-indicator {
	height: 200px;
	width: 200px;
	background: url("../img/wait.gif" );
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.timing-indicator {
	height: 25px;
	width: 25px;
	background: url("../img/wait_count.gif" );
	background-repeat: no-repeat;
	background-position: center center;
}

/*通用按钮样式*/
.buttonArea {
	padding: 5px;
	line-height: 25px;
}

input.button {
	width: 70px;
	height: 28px;
	line-height: 20px;
	text-align: center;
	/*
	vertical-align:text-top;
	*/
	vertical-align:middle;
	outline: none;
	cursor: pointer;
	font-size: 12px;
	border: none;
	background: url("../img/form_bg.gif") 0px 0px no-repeat;
}

input.button:hover {
	color: #ff6600;
	background: url("../img/form_bg.gif") 0px -30px no-repeat;
}

input.button_blue {
	background: url("../img/form_bg.gif") -200px 0px no-repeat;
	color: #FFF;
}

input.button_blue:hover {
	background: url("../img/form_bg.gif") -200px -30px no-repeat;
}

.blank {
	width: 100%;
	height: 10px;
	clear: both;
	overflow: hidden;
}

.frozen {
	display:none;
}

.requireField{
	color:red;
}