@CHARSET "UTF-8";

.jqmOverlay {
	background: url("../img/overlay_bg.png");
}

.contentWindow {
	width: 400px;
	margin-left: -200px;
	display: none;
	position: fixed;
	padding-top:15%;
	padding-left:50%;
	z-index: 100;
}

.contentWindow .windowTop {
	width: 400px;
	height: 29px;
	clear: both;
	cursor: move;
	background: url("../img/message_bg.gif") no-repeat 0px 0px;
}

.contentWindow .windowMiddle {
	width: 400px;
	clear: both;
	padding: 30px 0px;
	text-align: center;
	background: url("../img/message_y_bg.gif") repeat-y 0px 0px;
}

.contentWindow .windowBottom {
	width: 400px;
	height: 5px;
	clear: both;
	overflow: hidden;
	background: url("../img/message_bg.gif") no-repeat 0px -30px;
}

.contentWindow .windowTitle {
	height: 29px;
	line-height: 29px;
	float: left;
	margin-left: 8px;
	font-weight: bold;
}

.contentWindow .messageClose {
	width: 29px;
	height: 29px;
	line-height: 29px;
	display: block;
	outline: none;
	margin-right: 4px;
	float: right;
	cursor: pointer;
	background: url("../img/message_bg.gif") no-repeat 0px -120px;
}

.contentWindow .messageClose:hover {
	background: url("../img/message_bg.gif") no-repeat -30px -120px;
}

.contentWindow .windowContent {
	line-height: 15px;
	clear: both;
	padding: 0px 20px;
	margin-bottom: 10px;
}


.contentWindow table.windowInputTable {
	width: 100%;
}

.contentWindow table.windowInputTable th {
	width: 90px;
	padding: 5px;
	text-align: right;
}

.contentWindow table.windowInputTable td {
	padding: 5px;
	text-align: left;
}

.messageWindow {
	width: 400px;
	margin-left: -200px;
	display: none;
	position: fixed;
	padding-top:15%;
	padding-left:50%;
	z-index: 200;
}

.messageWindow .windowTop {
	width: 400px;
	height: 29px;
	clear: both;
	cursor: move;
	background: url("../img/message_bg.gif") no-repeat 0px 0px;
}

.messageWindow .windowMiddle {
	width: 400px;
	clear: both;
	padding: 30px 0px;
	text-align: center;
	background: url("../img/message_y_bg.gif") repeat-y 0px 0px;
}

.messageWindow .windowBottom {
	width: 400px;
	height: 5px;
	clear: both;
	overflow: hidden;
	background: url("../img/message_bg.gif") no-repeat 0px -30px;
}

.messageWindow .windowTitle {
	height: 29px;
	line-height: 29px;
	float: left;
	margin-left: 8px;
	font-weight: bold;
}

.messageWindow .messageClose {
	width: 29px;
	height: 29px;
	line-height: 29px;
	display: block;
	outline: none;
	margin-right: 4px;
	float: right;
	cursor: pointer;
	background: url("../img/message_bg.gif") no-repeat 0px -120px;
}

.messageWindow .messageClose:hover {
	background: url("../img/message_bg.gif") no-repeat -30px -120px;
}

.messageWindow .messageContent {
	line-height: 12px;
	clear: both;
	padding: 0px 20px;
	margin-bottom: 40px;
}

.messageWindow .messageContent .icon {
	width: 29px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	display: block;
}

.messageWindow .messageContent .warn {
	background: url("../img/message_bg.gif") no-repeat -60px -120px;
}

.messageWindow .messageContent .success {
	background: url("../img/message_bg.gif") no-repeat -90px -120px;
}

.messageWindow .messageContent .errors {
	background: url("../img/message_bg.gif") no-repeat -120px -120px;
}

.messageWindow .messageContent .messageText {
	line-height: 29px;
}

.confirmWindow {
	width: 400px;
	margin-left: -200px;
	display: none;
	position: fixed;
	padding-top:15%;
	padding-left:50%;
	z-index: 200;
}

.confirmWindow .windowTop {
	width: 400px;
	height: 29px;
	clear: both;
	cursor: move;
	background: url("../img/message_bg.gif") no-repeat 0px 0px;
}

.confirmWindow .windowMiddle {
	width: 400px;
	clear: both;
	padding: 30px 0px;
	text-align: center;
	background: url("../img/message_y_bg.gif") repeat-y 0px 0px;
}

.confirmWindow .windowBottom {
	width: 400px;
	height: 5px;
	clear: both;
	overflow: hidden;
	background: url("../img/message_bg.gif") no-repeat 0px -30px;
}

.confirmWindow .windowTitle {
	height: 29px;
	line-height: 29px;
	float: left;
	margin-left: 8px;
	font-weight: bold;
}

.confirmWindow .messageClose {
	width: 29px;
	height: 29px;
	line-height: 29px;
	display: block;
	outline: none;
	margin-right: 4px;
	float: right;
	cursor: pointer;
	background: url("../img/message_bg.gif") no-repeat 0px -120px;
}

.confirmWindow .messageClose:hover {
	background: url("../img/message_bg.gif") no-repeat -30px -120px;
}

.confirmWindow .messageContent {
	line-height: 12px;
	clear: both;
	padding: 0px 20px;
	margin-bottom: 40px;
}

.confirmWindow .messageContent .icon {
	width: 29px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	display: block;
}

.confirmWindow .messageContent .warn {
	background: url("../img/message_bg.gif") no-repeat -60px -120px;
}

.confirmWindow .messageContent .success {
	background: url("../img/message_bg.gif") no-repeat -90px -120px;
}

.confirmWindow .messageContent .errors {
	background: url("../img/message_bg.gif") no-repeat -120px -120px;
}

.confirmWindow .messageContent .messageText {
	line-height: 29px;
}

.tipWindow {
	padding: 5px 10px;
	display: none;
	position: fixed;
	top: 25%;
	left: 50%;
	z-index: 300;
	color: #000000;
	border: 2px solid #ffaa71;
	background-color: #fff5ee;
}

.tipWindow .icon {
	width: 29px;
	height: 29px;
	line-height: 29px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	display: block;
}

.tipWindow .warn {
	background: url("../img/message_bg.gif") no-repeat -60px -120px;
}

.tipWindow .success {
	background: url("../img/message_bg.gif") no-repeat -90px -120px;
}

.tipWindow .errors {
	background: url("../img/message_bg.gif") no-repeat -120px -120px;
}

.tipWindow .messageText {
	line-height: 29px;
}



.topMessage {
	display: none;
	text-align: left;
	color: #000000;
}

.topMessageSuccess{
	background: #CCFF99; border: 2px solid  #FFCC00 ; 
}

.topMessageWarn{
	background: #CCFFFF; border: 2px solid  #FFCC00 ;
}

.topMessageErrors{
	background: #FDACAC; border: 2px solid  #FF3300 ;
}

.topMessage .icon {
	width: 14px;
	height: 14px;
	line-height: 14px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	display: block;
}

.topMessage .warn {
	background: url("../img/iconInformation.gif") no-repeat;
}

.topMessage .success {
	background: url("../img/iconOk.gif") no-repeat;
}

.topMessage .errors {
	background: url("../img/iconWarning.gif") no-repeat;
}

.topMessage .messageText {
	position:relative;
	line-height: 16px;
	display: inline;
}

.topMessage .cancel {
	width: 14px;
	height: 14px;
	line-height: 14px;
	display: inline-block;
	display: -moz-inline-stack;
	zoom: 1;
	display: inline;
	vertical-align:middle;
	float:right;
	cursor:pointer;
	background: url("../img/cancel.gif") no-repeat;
}
