@CHARSET "UTF-8";

div.page {
	display: inline;
	float: right;
	margin: 3px;
	text-transform: uppercase;
	font-size: 12px;
	border: none;
	font-family: '微软雅黑', Arial, Helvetica, sans-serif;
}

div.page span {
	float: left;
	line-height: 23px;
	margin-right: 15px;
}

div.page li {
	list-style: none;
	float: left;
	padding: 0px 5px 0px 5px;
	margin: 0px 5px 0px 0px;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid #cccccc;
	line-height: 23px;
	color: #656d77;
}

div.page li.cur {
	border: 1px solid #656d77;
	background-color: #eeeeee;
}

div.page li:hover {
	border: 1px solid #656d77;
	background-color: #eeeeee;
}

div.page li input {
	line-height: 15px;
	height: 15px;
	width: 20px;
}



/*简单版*/
div.simplePage {
	display: inline;
	float: right;
	margin: 3px;
	text-transform: uppercase;
	font-size: 12px;
	border: none;
	font-family: '微软雅黑', Arial, Helvetica, sans-serif;
}

div.simplePage span {
	float: left;
	line-height: 23px;
	margin-right: 15px;
}

div.simplePage li {
	list-style: none;
	float: left;
	padding: 0px 5px 0px 5px;
	margin: 0px 5px 0px 0px;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid #cccccc;
	line-height: 23px;
	color: #656d77;
}

div.simplePage li.cur {
	border: 1px solid #ff9900;
	background-color: #ff9900;
	color: #FFFFFF;
}

div.simplePage li:hover {
	border: 1px solid #ff9900;
	background-color: #ff9900;
	color: #FFFFFF;
}

div.simplePage li input {
	line-height: 15px;
	height: 15px;
	width: 20px;
}