#contactList{
	width: 700px;
	margin: 20px auto 0;
}
.tab-pane h1{
	font-family: "华文新魏";
	text-align: center;
	letter-spacing: 2px;
	font-weight: bold;
}
table tr{
	text-align: center;
	line-height: 1;
}
table .tr-bg td{
	text-align:center;
}
table tr:nth-child(4)>td:first-child{
	line-height: 1;
}
table tr:nth-child(5)>td:first-child{
	line-height: 1;
}
table tr:nth-child(8)>td:first-child{
	line-height: 1;
}
.tab-pane h1{
	font-family: "华文新魏";
	text-align: center;
	letter-spacing: 2px;
	font-weight: bold;
}
table .tr-bg td{
	color: #fff;
}
@media only screen and (min-width: 100px) and (max-width: 736px) {
	#contactList{
		width: 100%;
		margin-top:10px;
	}
	.tab-pane h1{
		font-size: 22px;
	}
	table tr td{
		color: #666;
		font-size: 13px;
	}
	table td:first-child{
		font-size: 13px;
		width:20%;
	}
	table td:nth-child(2){
		font-size: 13px;
	}
	table td:nth-child(3){
		font-size: 13px;
	}
	table td:nth-child(4){
		font-size: 13px;
		border-right: none;
		width:15%;
		padding-left: 1px;
		padding-right: 1px;
	}
	table tr:first-child{
		font-size: 14px;
		color: #000;
	}
	table .first td{
		font-size: 14px;
		color: #000;
	}
}