*{
	padding: 0;
	margin: 0;
	font-family: '宋体';
}
#executive{
	width: 700px;
	margin: 0 auto;
	margin-top: 30px;
	border-bottom: none;
}

/* 对3个a链接的设置 */
a{
	width:200px;
	height: 60px;
	color: #fff;
	display: block;
	font-weight: bold;
	font-size: 16px;
	background: #99ccff;
	margin:0 auto;
	line-height: 60px;
	text-align: center;
	border-bottom: 2px solid #fff;
}
a:hover{
	text-decoration: none;
}
@media only screen and (min-width: 100px) and (max-width: 736px) {
	#executive{
		width: 100%;
	}
	a{
		width: 100%;
		font-size: 16px;
		border-bottom: 2px solid #fff;
	}
}
@media (max-width: 768px){
	#executive{
		width: 100%;
	}
}