#executiveAll{
	width: 700px;
	margin: 0 auto;
	margin-top: 20px;
}
.tab-pane>h1{
	font-family: "华文新魏";
	text-align: center;
	letter-spacing: 2px;
	font-weight: bold;
}
.tab-pane>p{
	text-align: center;
	color: #666;
}
table .tr-bg td{
	color: #fff;
}
@media only screen and (min-width: 100px) and (max-width: 736px) {
	#executiveAll{
		width: 100%;
		margin-top:10px;
	}
	.tab-pane h1{
		font-size: 22px;
	}
	.tab-pane>p{
		text-align: center;
		color: #666;
	}
	table td:first-child{
		font-size: 13px;
		color: #666;
	}
	table td:nth-child(2){
		font-size: 14px;
		color: #000;
	}
	table td:nth-child(3){
		font-size: 13px;
		color: #666;
	}
	table .tr-bg td{
		color: #fff;
	}
}
