* {
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul li {
	list-style: none;
}

header {
	height: 50px;
	width: 100%;
	background: #A2D5F2;
	position: fixed;
	z-index: 10000;
	top: 0;
}

header>span {
	float: left;
	line-height: 50px;
	font-size: 20px;
	display: inline-block;
	width: auto;
	padding: 0 20px;
	text-align: center;
	letter-spacing: 2px;
	height: 100%;
	background: #2980B9;
	color: white;
}

header>span img {
	width: auto;
	position: relative;
	top: -2px;
	height: 80%;
	margin-right: 10px;
}

header>ul:nth-child(2) li {
	font-size: 14px;
	letter-spacing: 2px;
	float: left;
	width: 60px;
	line-height: 50px;
	text-align: center;
	transition: all 0.5;
	-webkit-transition: all 0.5;
	color: white;
}

header>ul:nth-child(2) li:hover {
	background: #6BAFD6;
}

header .user-box {
	float: right;
	width: auto;
	margin-right: 30px;
	height: 50px;
}

header .user-box>img {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	position: relative;
	border: 0px;
	cursor: pointer;
	float: right;
}

header .user-box>div {
	display: block;
	width: 130px;
	height: 80px;
	background: white;
	position: relative;
	top: 40px;
	padding: 5px 0;
	display: none;
	box-shadow: 0 0 10px gray;
}

header .user-box>div>ul {
	width: 100%;
	height: 100%;
}

header .user-box>div>ul:nth-child(2) {
	display: none;
}

header .user-box>div>ul li {
	width: 100%;
	line-height: 35px;
	color: #696969;
	padding: 0 20px;
}

header .user-box>div>ul li:hover {
	background: #E3E3E3;
}

header .user-box>div>ul a:hover {
	text-decoration: none;
}

header .user-box>div>ul li i {
	margin-right: 10px;
}

#search-box {
	position: relative;
	width: 100%;
	height: 110px;
	background: #FCFCF7;
	margin-top: 50px;
	border-bottom: 2px solid #F6F6F1;
}

#search-box .search {
	position: relative;
	top: 40px;
	width: 492px;
	margin: 0 auto;
	height: 30px;
}

#search-box .search>span {
	margin-right: 20px;
	font-size: 28px;
	letter-spacing: 3px;
	line-height: 32px;
	color: #34495E;
	font-weight: bold;
}

#search-box .search>div {
	display: block;
	float: right;
	height: 36px;
	width: 342px;
	white-space: nowrap;
}

#search-box .search>div input {
	height: 32px;
	width: 300px;
	float: left;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 0;
	box-shadow: 1px 2px 5px gray;
	padding: 0 15px;
	box-sizing: border-box;
	outline: none;
	color: #3D3D3D;
}

#search-box .search>div a {
		line-height:30px;
		margin-left:10px;
	}

#search-box .search>div #search-button {
	height: 33px;
	width: 36px;
	background: #1F5F8B;
	border: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 1px 2px 5px gray;
	cursor: pointer;
	background-image: url(../img/search.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.dict-box {
	position: fixed;
	width: 50%;
	left: 25%;
	height: auto;
	padding: 20px 10px;
	box-shadow: 0 0 20px black;
	background:white;
	margin-top:15px;
	z-index:10000;
	box-sizing: border-box;
}

.dict-box #dict_body{
	max-height:400px;
	overflow-y:scroll;
}

.dict-box .word_name{
	font-size: 2em;
}

.dict-box .block{
	border: 1px solid #CEDFF2;
    /*width: 460px;*/
    margin: 3px;
    padding: 3px;
}

.dict-box .dict{
	background-color: #CEDFF2;
    /*width: 460px;*/
    padding-left: 3px;
}

.pass-box {
	width: 200px;
	height: 150px;
	background: #F0F0F0;
	position: fixed;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -100px;
	border: 3px solid darkgray;
	padding: 20px 30px;
	box-sizing: border-box;
	display: none;
	z-index:9999;
}

.pass-box div{
	margin-top:10px;
}

@media only screen and (max-width: 991px) {
	header {
		height: 50px;
		width: 100%;
		background: #2980B9;
		position: fixed;
		z-index: 10000;
		top: 0;
	}
	header>span {
		font-size: 1.3em;
		width: auto;
		height: 100%;
		line-height: 50px;
		margin-left: 2.5%;
		padding: 0;
	}
	header>ul:nth-child(2) {
		display: none;
	}
	header>ul:nth-child(2) li {
		width: 50px;
		margin: 0;
	}
	header .user-box {
		height: 100%;
		width: auto;
		position: absolute;
		right: 0;
		margin-right: 10px;
	}
	header .user-box>img {
		display: block;
		width: auto;
		height: 50%;
		top: 25%;
		border-radius: 100px;
		position: relative;
		border: 0px;
		cursor: pointer;
		float: right;
		margin-right: 10px;
	}
	header .user-box>div {
		display: block;
		width: 100%;
		height: auto;
		background: none;
		position: relative;
		margin-right: -10px;
		top: 20px;
		padding: 5px 0;
		float: right;
		overflow: hidden;
		box-shadow: 0 0 0 white;
		display: none;
	}
	header .user-box>div>ul {
		width: 90%;
		float: right;
		height: auto;
		background: white;
		box-shadow: 0 5px 10px gray;
	}
	header .user-box>div>ul:nth-child(2) {
		display: block;
		position: relative;
		top: -10px;
		display: block;
	}
	header .user-box>div>ul li {
		width: 100%;
		line-height: 35px;
		color: #696969;
		padding: 0 10%;
		font-size: 1em;
	}
	header .user-box>div>ul li i {
		margin-right: 10%;
		position: relative;
		top: 4px;
	}
	#search-box {
		position: relative;
		height: 70px;
		margin-top: 50px;
	}
	#search-box .search>span {
		display: none;
	}
	#search-box .search {
		position: relative;
		width: 100%;
		top: 0px;
		margin-top: 10px;
		height: 100%;
		text-align: center;
	}
	#search-box .search>div {
		display: inline-block;
		float: none;
		position: relative;
		margin: 0 auto;
		height: 100%;
		width: 95%;
		white-space: nowrap;
	}
	#search-box .search>div a {
		clear:both;
		float:left;
		line-height:50px;
	}
	#search-box .search>div input {
		width: 85%;
		height: 30px;
		top: 20px;
		position: relative;
		box-shadow: 0 0 0 white;
		border: 1px solid darkgray;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}
	#search-box .search>div button {
		position: relative;
		height: 30px;
		top: 20px;
		width: 15%;
		background: #1F5F8B;
		border: 0;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		box-shadow: 0 0 0 white;
		cursor: pointer;
		background-image: url(../img/search.png);
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: center;
	}
	.dict-box {
	    width: 90%;
	    left:5%;
    }
	.dict-box #dict_body{
		max-height:250px;
	}
}