@media (min-width: 770px) {
				.liwid {
					float: left;
					height: 30px;
					display: inline-block;
					/*width: 14%;*/
					position: relative;
					text-align: center;
					background:#fefefe;
					color: #000;
					/*margin-left: -15px;*/
					vertical-align: middle;
					font-size:11px;
					border-left:1px solid #dadada;
				}
				a {
					vertical-align: middle;
					text-decoration: none;
				}
				.ulwid>a:hover>li{
					background:#449cd0;
					color:white;
				}
				.change {
					background: #449cd0;
					color:white;
				}
				.navbar-inner{
					padding-left: 0px;
				}
				.ulwid {
					text-align: center;
					vertical-align: middle;
					height: 30px;
				}
				.lispan{
					padding-top:5px ;
					display: inline-block;
					vertical-align: middle;
				}
				.title {
					display: none;
				}
				#menu_button_wrapper {
					display: none;
				}
			}
			
			@media (max-width: 770px) {
				#menu_button_wrapper {
					display: block;
					color: #cbc6c6;
					-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
					box-shadow: 0 1px 0 rgba(255, 255, 255, .1);
					margin-bottom: .5em;
				}
				.liwid {
					text-align: right;
					padding-top: 10px;
					padding-bottom: 10px;
					padding-right: 20px;
					color: #000;
					vertical-align: middle;
					font-size:11px;
				}
				.ulwid>a:hover>li {
					background-color: #449cd0;
					color:white;
				}
				.change {
					background: #449cd0;
					color:white;
				}
				.lispan{
					padding-top:5px ;
					display:block;
					vertical-align: middle;
					width: 100%;
				}
				#menu_button {
					box-sizing: border-box;
					float: right;
					padding: .5em 1em;
					border-radius: 5px;
					font-size: 14px;
					color: #000000;
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-khtml-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
				}
				#menu_button:hover {
					cursor: pointer;
					/*background-color: #cbc6c6;*/
				}
				#hamburger {
					float: right;
					padding-top: .15em;
				}
				#menu_button span {
					display: block;
					background-color: #fff;
					width: 1.2em;
					height: .15em;
					border-radius: 1px;
					margin-bottom: .2em;
				}
				nav ul {
					width: 100%;
					margin: 0 auto;
					padding: 0;
					box-sizing: border-box;
				}
				nav ul li {
					display: block;
				}
				nav ul li a {
					width: 100%;
				}
			}
			
			.clearfix:before,
			.clearfix:after {
				content: " ";
				display: table;
			}
			
			.clearfix:after {
				clear: both;
			}
			
			.clearfix {
				clear: both;
			}