* {
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

header>ul:nth-child(2) a:nth-child(5) li {
	background: #6BAFD6!important;
}

#wrapper {
	width: 950px;
	height: auto;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
}

#wrapper .box {
	width: 100%;
	height: auto;
	margin-bottom: 100px;
}

#wrapper .box2 {
	width: 100%;
	height: auto;
	margin-bottom: 100px;
}

#wrapper .box .head,
#wrapper .box2 .head {
	width: 100%;
	height: 40px;
	border-bottom: 2px solid #D4D4D4;
}

#wrapper .box .head span:nth-child(1),
#wrapper .box2 .head span:nth-child(1) {
	display: inline-block;
	height: 30px;
	font-size: 18px;
	color: #5A5A5A;
	padding: 0 15px;
	position: relative;
	line-height: 30px;
	border-left: 8px solid #2896E3;
}

#wrapper .box .head a:nth-child(2),
#wrapper .box2 .head a:nth-child(2) {
	float: right;
	line-height: 40px;
	font-size: 13px;
	color: #4C4C4A;
	margin-right: 2.5%;
}

#wrapper .box div:nth-child(2),
#wrapper .box2 div:nth-child(2) {
	height: auto;
	width: 100%;
	position: relative;
	top: 20px;
	border: 1px solid #9BC9DF;
	overflow: hidden;
	padding-bottom: 5px;
}

#wrapper .box2 div:nth-child(2) {
	padding: 20px;
	box-sizing: border-box;
	font-size: 14px;
}

#wrapper .box div:nth-child(2) ul,
#wrapper .box2 div:nth-child(2) ul {
	width: 100%;
	height: 100%;
}

#wrapper .box div:nth-child(2) ul li {
	width: 25%;
	/*height: 50%;*/
	height: 300px;
	overflow: hidden;
	text-align: center;
	float: left;
	transition: box-shadow 0.25s;
	padding-bottom: 20px;
}

#wrapper .box2 div:nth-child(2) ul li {
	width: 50%;
	height: 30px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	float: left;
}

#wrapper .box2 div:nth-child(2) ul li::before {
	content: '>';
	color: #C2C2C2;
}

#wrapper .box2 div:nth-child(2) ul li a {
	color: #363634;
	margin-left: 10px;
}

#wrapper .box2 div:nth-child(2) ul li a:hover {
	text-decoration: underline;
}

#wrapper .box div:nth-child(2) ul li:hover {
	box-shadow: 0 0 10px gray;
}

#wrapper .box div:nth-child(2) ul li>a {
	display: inline-block;
	margin-top: 15%;
	height: 60%;
	width: 55%;
	overflow: hidden;
}

#wrapper .box div:nth-child(2) ul li img {
	height: 100%;
	width: 100%;
	transition: all 0.25s;
}

#wrapper .box div:nth-child(2) ul li:hover img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
}

#wrapper .box div:nth-child(2) ul li p a {
	color: #3377AA;
}

#wrapper .box div:nth-child(2) ul li p {
	font-size: 13px;
	line-height: 22px;
	width: 55%;
	margin: 0 auto;
	text-align: left;
	/*text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;*/
}

#modal {
	top: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 10000;
	display: none;
}

.modal-box {
	width: 600px;
	height: 500px;
	background: #F0F0F0;
	position: relative;
	margin: 0 auto;
	top: 50%;
	margin-top: -250px;
	border: 3px solid darkgray;
	padding: 20px 30px;
	box-sizing: border-box;
	display: none;
}

.modal-box>div:nth-child(1) {
	position: relative;
	width: 100%;
	height: 50%;
}

.modal-box>div:nth-child(1) div:nth-child(1) {
	width: 50%;
	height: 100%;
	float: left;
	overflow: hidden;
}

.modal-box>div:nth-child(1) div:nth-child(1) img {
	width: 65%;
	position: relative;
	height: 90%;
	top: 5%;
	left: 17.5%;
	box-shadow: 0 0 30px darkslategray;
}

.modal-box>div:nth-child(1) div:nth-child(2) {
	width: 50%;
	height: 100%;
	float: left;
	padding: 20px 10px;
}

.modal-box>div:nth-child(1) div:nth-child(2) ul li {
	width: 100%;
	line-height: 30px;
	/*text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;*/
}

.modal-box>div:nth-child(2) {
	position: relative;
	width: 100%;
	height: 35%;
	padding: 20px 30px;
	box-sizing: border-box;
}

.modal-box>div:nth-child(2) p {
	line-height: 22px;
	font-size: 13px;
	letter-spacing: 1px;
	text-indent: 28px;
}

.modal-box>div:nth-child(3) {
	position: relative;
	width: 100%;
	height: 15%;
	text-align: center;
}

.modal-box>div:nth-child(3) div {
	position: relative;
	display: inline-block;
	width: auto;
	line-height: 67.5px;
}

.modal-box>div:nth-child(3) div button {
	margin: 0 20px;
}

.modal-box2 {
	width: 600px;
	height: 500px;
	background: #F0F0F0;
	position: relative;
	margin: 0 auto;
	top: 50%;
	margin-top: -250px;
	border: 3px solid darkgray;
	padding: 20px 30px;
	box-sizing: border-box;
	display: none;
}

.modal-box2>div:nth-child(1) {
	position: relative;
	width: 100%;
	height: 30%;
	padding: 0 30px;
}

.modal-box2>div:nth-child(1) li {
	margin-bottom: 10px;
	/*text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;*/
}

.modal-box2>div:nth-child(1) li h3 {
	margin-bottom: 15px;
	font-weight: bold;
}

.modal-box2>div:nth-child(2) {
	position: relative;
	width: 100%;
	height: 58%;
	padding: 20px 30px;
	box-sizing: border-box;
}

.modal-box2>div:nth-child(2) p {
	line-height: 25px;
	font-size: 13px;
	letter-spacing: 1px;
	text-indent: 28px;
}

.modal-box2>div:nth-child(3) {
	position: relative;
	width: 100%;
	height: 12%;
	text-align: center;
}

.modal-box2>div:nth-child(3) div {
	position: relative;
	display: inline-block;
	width: auto;
	line-height: 67.5px;
}

.modal-box2>div:nth-child(3) div button {
	margin: 0 20px;
}

.tansuo{
        position:relative;
        /*right: -60%;*/
		float:right;
        top:-90%;
    }
    .tansuo li{
        list-style: none;
        clear: both;
        cursor: pointer;
		float:right;
		width:80px;
    }
    .tansuo li>div:first-child{
        display: none;
        padding: 3px 4px;
        background: black;
        opacity: 0.9;
        border-radius: 3px;
        float: left;
        color: #FFFFFF;
        font-size:16px;
        margin-bottom: 0;
    }
    .tansuo li>div:last-child{
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height:18px;
        border: 1px solid #999;
        margin-top:5px;
        margin-left: 10px;
        float: right;
        background: #ffffff;
        opacity: 0.7;
        margin-bottom:0;
    }
    .tansuo li span{
        font-size: 18px;
        color: #999;
		line-height:25px;
    }
    .tansuo li img{
        width: 12px;
        margin-top:8px;
    }
    .pinglun{
        width: 660px;
        margin:0 auto;
    }
    .pinglun button{
        display: block;
        border: none;
        padding: 3px 10px;
        color: #FFF;
        background: #FFC09F;
        cursor: pointer;
        margin-left: 600px;
    }
    .comment{
        width: 660px;
        margin-top: 15px;
        margin-bottom: 15px;
        border: none;
        height:25px;
        resize: none;
        outline: none;
        font-size:14px;
        border-bottom: 1px solid #f2f2f2;
        overflow: hidden;
    }
	
	#discuss {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

.discuss-box {
	position: absolute;
	right: 0;
	height: 100%;
	width: 30%;
	background: white;
	overflow: scroll;
	padding: 0;
}

.discuss-box .btn-danger {
	position: relative;
	float: right;
	border-radius: 0;
	background-color:transparent;
	border-color:transparent;
	color:#000000;
}

#discuss .user-box {
	width: 90%;
	position: relative;
	margin: 0 auto;
	padding: 20px 30px;
	overflow: hidden;
}

#discuss .user-box textarea {
	width: 100%;
	outline: none;
	border: 1px solid #1680BB;
	height: 150px;
	padding: 10px;
}

#discuss .user-box .btn {
	float: right;
	margin-top: 20px;
	width: 60px;
}

#discuss .comment {
	position: relative;
	width: 90%;
	padding: 20px 30px;
	box-sizing: border-box;
	margin: 10px auto 0px auto;
	height: auto;
}

#discuss .comment>ul {
	position: relative;
	width: 100%;
	height: auto;
}

#discuss .comment>ul>li {
	position: relative;
	width: 100%;
	height: auto;
	border-bottom: 1px solid darkgray;
	margin-bottom: 20px;
	overflow: hidden;
}

#discuss .comment>ul>li>div:nth-child(1) {
	float: left;
	width: 70px;
	height: 70px;
}

#discuss .comment>ul>li>div:nth-child(2) {
	float: right;
	width: calc(100% - 80px);
	height: auto;
	padding: 10px 0;
}

#discuss .comment>ul>li>div:nth-child(2) p {
	/*overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;*/
	height: auto;
}

#discuss .comment>ul>li>div:nth-child(2) p:nth-child(2) {
	font-size: 0.85em;
}

#discuss .comment>ul>li>div img {
	height: 70%;
	position: relative;
	top: 15%;
	left: 15%;
	width: 70%;
}

#discuss .comment .page {
	position: relative;
	display: inline-block;
	width: 100%;
	top: 30px;
	height: 80px;
	text-align: center;
}

#discuss .comment .page ul {
	display: inline-block;
	width: auto;
	height: 100%;
	border: 0;
}

#discuss .comment .page ul li {
	list-style: none;
	float: left;
	box-sizing: border-box;
	width: 33px;
	margin: 0 5px;
	height: 30px;
	border: 1px solid #E1E1E1;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	color: #666666;
}

#discuss .comment .page ul li:hover {
	background: #32B16C;
	color: white;
}

#discuss .comment .page .active {
	background: #32B16C;
	color: white;
}

#report {
	width: 500px;
	height: 300px;
	background: #F0F0F0;
	position: fixed;
	margin: 0 auto;
	left:50%;
	margin-left:-250px;
	top: 50%;
	margin-top: -150px;
	border: 3px solid darkgray;
	padding: 20px 30px;
	box-sizing: border-box;
	display: none;
	z-index:10000;
}

#report ul{
	width:100%;
	padding:20px 30px;
}

#report ul li{
	float:left;
	width:25%;
}

#report textarea{
	width:100%;
	height:100%;
}

#report table {
	border: 1px solid #B5D5DE;
	width: 100%;
}

#report table th {
	text-align: center;
	border: 1px solid #B5D5DE;
	background: #DAF1F7;
	color: #406670;
	height: 40px;
	font-size: 0.9em;
	background: #DAF1F7;
}

#report table td {
	text-align: center;
	border: 1px solid #B5D5DE;
	color: #406670;
	height: 35px;
	font-size: 0.9em;
}

#report .page {
	position: relative;
	display: inline-block;
	width: 100%;
	top: 10px;
	height: 30px;
	text-align: center;
}

#report .page ul {
	display: inline-block;
	width: auto;
	height: 100%;
	border: 0;
}

#report .page ul li {
	list-style: none;
	float: left;
	box-sizing: border-box;
	width: 25px;
	margin: 0 2px;
	height: 25px;
	border: 1px solid #E1E1E1;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	color: #666666;
	font-size: 0.8em;
}

#report .page ul li:hover {
	background: #2980B9;
	color: white;
}

#report .page .active {
	background: #2980B9;
	color: white;
}
#report > div:nth-child(2){
	width:100%;
	height:70%;
	padding:20px 30px;
}
#report > div:nth-child(3){
	text-align:center;
}

#report > div:nth-child(3) button{
	margin:0 20px;
}

footer {
	position: relative;
	width: 950px;
	height: 100px;
	text-align: center;
	font-size: 13px;
	line-height: 30px;
	letter-spacing: 1px;
	color: #696969;
	border-top: 2px solid #DEDEDE;
	padding-top: 10px;
	box-sizing: border-box;
	margin: 30px auto 0 auto;
	overflow: hidden;
}

@media only screen and (min-width: 991px) and (max-width: 1400px) {
	.discuss-box {
		position: absolute;
		right: 0;
		height: 100%;
		width: 50%;
		background: white;
		overflow: scroll;
		padding: 0px;
		padding: 0 15px;
	}
}

@media only screen and (max-width: 991px) {
	#wrapper {
		width: 95%;
		height: auto;
		position: relative;
		margin: 0 auto;
		margin-top: 20px;
		background: white;
		overflow: hidden;
	}
	#wrapper .box {
		position: relative;
		margin: 0 auto;
		width: 95%;
		height: auto;
		margin-bottom: 100px;
	}
	#wrapper .box2 {
		position: relative;
		margin: 0 auto;
		width: 95%;
		height: auto;
		margin-bottom: 100px;
	}
	#wrapper .box .head span:nth-child(1),
	#wrapper .box2 .head span:nth-child(1) {
		font-size: 1.5em;
	}
	#wrapper .box .head a:nth-child(2),
	#wrapper .box2 .head a:nth-child(2) {
		font-size: 0.9em;
	}
	#wrapper .box div:nth-child(2) ul li {
		width: 33%;
		height: auto;
		overflow: hidden;
		text-align: center;
		float: left;
		transition: all 0.25s;
		padding-bottom: 20px;
	}
	#wrapper .box2 div:nth-child(2) {
		padding: 0;
	}
	#wrapper .box2 div:nth-child(2) ul li {
		width: 100%;
		height: 35px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		float: left;
		border-bottom: 1px dashed #E7E7E7;
		line-height: 35px;
		padding: 0 20px;
	}
	#wrapper .box2 div:nth-child(2) ul li a {
		color: #363634;
		margin-left: 10px;
	}
	#wrapper .box2 div:nth-child(2) ul li:active {
		background: #E7E7E7;
	}
	#wrapper .box2 div:nth-child(2) ul li a:hover {
		text-decoration: underline;
	}
	#wrapper .box div:nth-child(2) ul li:hover {
		box-shadow: 0 0 10px gray;
	}
	#wrapper .box div:nth-child(2) ul li>a {
		display: inline-block;
		margin-top: 15%;
		height: 60%;
		width: 60%;
		overflow: hidden;
	}
	#wrapper .box div:nth-child(2) ul li img {
		height: auto;
		width: 100%;
		transition: all 0.25s;
	}
	#wrapper .box div:nth-child(2) ul li:hover img {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
	}
	#wrapper .box div:nth-child(2) ul li p a {
		color: #3377AA;
	}
	#wrapper .box div:nth-child(2) ul li p {
		font-size: 0.7em;
		line-height: 22px;
		width: 80%;
		text-align: center;
		margin: 0 auto;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	.modal-box {
		width: 80%;
		height: 400px;
		background: #F0F0F0;
		position: relative;
		margin: 0 auto;
		top: 50%;
		margin-top: -200px;
		border: 3px solid darkgray;
		padding: 10px 10px;
		box-sizing: border-box;
		display: none;
	}
	.modal-box>div:nth-child(1) {
		position: relative;
		width: 100%;
		height: 50%;
	}
	.modal-box>div:nth-child(1) div:nth-child(1) {
		width: 50%;
		height: 100%;
		float: left;
		overflow: hidden;
	}
	.modal-box>div:nth-child(1) div:nth-child(1) img {
		width: 70%;
		position: relative;
		left: 15%;
		box-shadow: 0 0 15px darkslategray;
	}
	.modal-box>div:nth-child(1) div:nth-child(2) {
		width: 50%;
		height: 100%;
		float: left;
		padding: 30px 10px;
	}
	.modal-box>div:nth-child(1) div:nth-child(2) ul li {
		width: 100%;
		line-height: 22px;
		/*text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;*/
		font-size: 0.7em;
	}
	.modal-box>div:nth-child(2) {
		position: relative;
		width: 100%;
		height: 35%;
		padding: 0 30px;
		box-sizing: border-box;
	}
	.modal-box>div:nth-child(2) p {
		line-height: 16px;
		font-size: 0.7em;
		text-indent: 22px;
	}
	.modal-box2 {
		width: 80%;
		height: 400px;
		background: #F0F0F0;
		position: relative;
		margin: 0 auto;
		top: 50%;
		margin-top: -200px;
		border: 3px solid darkgray;
		padding: 10px 10px;
		box-sizing: border-box;
	}
	
	.modal-box2>div:nth-child(1) {
		position: relative;
		width: 100%;
		height: 30%;
		padding: 0 30px;
	}
	
	.modal-box2>div:nth-child(1) li {
		margin-bottom: 10px;
		/*text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;*/
	}
	
	.modal-box2>div:nth-child(1) li h3 {
		margin-bottom: 5px;
		font-weight: bold;
		font-size:18px;
	}
	
	.modal-box2>div:nth-child(2) {
		position: relative;
		width: 100%;
		height: 58%;
		padding: 10px 30px;
		box-sizing: border-box;
	}
	
	.modal-box2>div:nth-child(2) p {
		line-height: 16px;
		font-size: 0.7em;
		letter-spacing: 1px;
		text-indent: 22px;
	}
	
	.modal-box2>div:nth-child(3) {
		position: relative;
		width: 100%;
		height: 12%;
		text-align: center;
	}
	
	.modal-box2>div:nth-child(3) div {
		position: relative;
		display: inline-block;
		width: auto;
		line-height: 67.5px;
	}
	
	.modal-box2>div:nth-child(3) div button {
		margin: 0 20px 30px 20px;
	}
	#discuss .user-box {
		width: 100%;
		position: relative;
		margin: 0 auto;
		padding: 20px 0px;
		overflow: hidden;
	}
	
	.discuss-box {
		position: absolute;
		right: 0;
		height: 100%;
		width: 100%;
		background: white;
		overflow: scroll;
		padding: 0px;
		padding: 0 15px;
	}
	
	#discuss .comment>ul>li>div:nth-child(1) {
		float: left;
		width: 50px;
		height: 50px;
		position: relative;
		top: 5px;
	}
	#discuss .comment>ul>li>div:nth-child(2) {
		float: right;
		width: calc(100% - 60px);
		height: auto;
		padding: 10px 0;
	}
	#discuss .comment {
		position: relative;
		width: 100%;
		padding: 20px 10px;
		box-sizing: border-box;
		margin: 10px auto 20px auto;
		height: auto;
		font-size: 0.8em;
	}
	#discuss .comment .page ul li {
		list-style: none;
		float: left;
		box-sizing: border-box;
		width: 23px;
		margin: 0 5px;
		height: 23px;
		border: 1px solid #E1E1E1;
		line-height: 21px;
		text-align: center;
		cursor: pointer;
		color: #666666;
	}
	footer {
		position: relative;
		width: 95%;
		height: auto;
		text-align: center;
		font-size: 0.5em;
		line-height: 20px;
		letter-spacing: 1px;
		color: #696969;
		border-top: 2px solid #DEDEDE;
		padding-top: 10px;
		box-sizing: border-box;
		margin: 30px auto 0 auto;
	}
}