* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

#news {
	position: relative;
	width: 700px;
	padding: 20px 30px;
	margin: 0 auto;
	height: auto;
	min-height: 600px;
	margin-top: 30px;
	/*border: 1px solid lightgray;*/
}

#news .news-info {
	font-size: 1.2em;
	margin-top: 25px;
}

#news .news-info span {
	margin-right: 20px;
}

#news .news-box {
	padding: 20px 0;
	margin: 25px 0 40px 0;
	width: 100%;
	position: relative;
	/*text-align: center;*/
	border-bottom: 1px solid darkgray;
}

#news .news-box p {
	font-size: 1.1em;
	text-indent: 31px;
	line-height: 30px;
	text-align: left;
}

#news .news-box img {
	max-width: 80%;
	position: relative;
	margin: 30px auto;
}

#news .news-box b {
	font-size: 1.2em;
}

#news .btn-info {
	width: 80%;
	position: relative;
	left: 10%;
	margin-bottom: 10px;
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

.modal-box {
	position: absolute;
	right: 0;
	height: 100%;
	width: 30%;
	background: white;
	overflow: scroll;
	padding: 0;
}

.modal-box .btn-danger {
	position: relative;
	float: right;
	border-radius: 0;
	background-color:transparent;
	border-color:transparent;
	color:#000000;
}

#modal .user-box {
	width: 90%;
	position: relative;
	margin: 0 auto;
	padding: 20px 30px;
	overflow: hidden;
}

#modal .user-box textarea {
	width: 100%;
	outline: none;
	border: 1px solid #1680BB;
	height: 150px;
	padding: 10px;
}

#modal .user-box .btn {
	float: right;
	margin-top: 20px;
	width: 60px;
}

#modal .comment {
	position: relative;
	width: 90%;
	padding: 20px 30px;
	box-sizing: border-box;
	margin: 10px auto 0px auto;
	height: auto;
}

#modal .comment>ul {
	position: relative;
	width: 100%;
	height: auto;
}

#modal .comment>ul>li {
	position: relative;
	width: 100%;
	height: auto;
	border-bottom: 1px solid darkgray;
	margin-bottom: 20px;
	overflow: hidden;
}

#modal .comment>ul>li>div:nth-child(1) {
	float: left;
	width: 70px;
	height: 70px;
}

#modal .comment>ul>li>div:nth-child(2) {
	float: right;
	width: calc(100% - 80px);
	height: auto;
	padding: 10px 0;
}

#modal .comment>ul>li>div:nth-child(2) p {
	/*overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;*/
	height: auto;
}

#modal .comment>ul>li>div:nth-child(2) p:nth-child(2) {
	font-size: 0.85em;
}

#modal .comment>ul>li>div img {
	height: 70%;
	position: relative;
	top: 15%;
	left: 15%;
	width: 70%;
}

#modal .comment .page {
	position: relative;
	display: inline-block;
	width: 100%;
	top: 30px;
	height: 80px;
	text-align: center;
}

#modal .comment .page ul {
	display: inline-block;
	width: auto;
	height: 100%;
	border: 0;
}

#modal .comment .page ul li {
	list-style: none;
	float: left;
	box-sizing: border-box;
	width: 33px;
	margin: 0 5px;
	height: 30px;
	border: 1px solid #E1E1E1;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	color: #666666;
}

#modal .comment .page ul li:hover {
	background: #32B16C;
	color: white;
}

#modal .comment .page .active {
	background: #32B16C;
	color: white;
}

.clear {
	clear: both;
}

footer {
	position: relative;
	width: 950px;
	height: 100px;
	text-align: center;
	font-size: 13px;
	line-height: 30px;
	letter-spacing: 1px;
	color: #696969;
	border-top: 2px solid #DEDEDE;
	padding-top: 10px;
	box-sizing: border-box;
	margin: 30px auto 0 auto;
	overflow: hidden;
}

.tansuo{
        position: fixed;
        right: 22%;
        top:150px;

    }
    .tansuo li{
        list-style: none;
        clear: both;
        cursor: pointer;
    }
    .tansuo li>div:first-child{
        display: none;
        padding: 3px 4px;
        background: black;
        opacity: 0.9;
        border-radius: 3px;
        float: left;
        color: #FFFFFF;
        font-size:16px;
        margin-bottom: 0;
    }
    .tansuo li>div:last-child{
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height:18px;
        border: 1px solid #999;
        margin-top:5px;
        margin-left: 10px;
        float: right;
        background: #ffffff;
        opacity: 0.7;
        margin-bottom:0;
    }
    .tansuo li span{
        font-size: 18px;
        color: #999;
		line-height:25px;
    }
    .tansuo li img{
        width: 12px;
        margin-top:8px;
    }
    .pinglun{
        width: 660px;
        margin:0 auto;
    }
    .pinglun button{
        display: block;
        border: none;
        padding: 3px 10px;
        color: #FFF;
        background: #FFC09F;
        cursor: pointer;
        margin-left: 600px;
    }
    .comment{
        width: 660px;
        margin-top: 15px;
        margin-bottom: 15px;
        border: none;
        height:25px;
        resize: none;
        outline: none;
        font-size:14px;
        border-bottom: 1px solid #f2f2f2;
        overflow: hidden;
    }
	#report {
	width: 600px;
	height: 300px;
	background: #F0F0F0;
	position: fixed;
	margin: 0 auto;
	left:50%;
	margin-left:-300px;
	top: 50%;
	margin-top: -150px;
	border: 3px solid darkgray;
	padding: 20px 30px;
	box-sizing: border-box;
	display: none;
	z-index:10000;
}

#report ul{
	width:100%;
	padding:20px 30px;
}

#report ul li{
	float:left;
	width:25%;
}

#report textarea{
	width:100%;
	height:100%;
}

#report table {
	border: 1px solid #B5D5DE;
	width: 100%;
}

#report table th {
	text-align: center;
	border: 1px solid #B5D5DE;
	background: #DAF1F7;
	color: #406670;
	height: 40px;
	font-size: 0.9em;
	background: #DAF1F7;
}

#report table td {
	text-align: center;
	border: 1px solid #B5D5DE;
	color: #406670;
	height: 35px;
	font-size: 0.9em;
}

#report .page {
	position: relative;
	display: inline-block;
	width: 100%;
	top: 10px;
	height: 30px;
	text-align: center;
}

#report .page ul {
	display: inline-block;
	width: auto;
	height: 100%;
	border: 0;
}

#report .page ul li {
	list-style: none;
	float: left;
	box-sizing: border-box;
	width: 25px;
	margin: 0 2px;
	height: 25px;
	border: 1px solid #E1E1E1;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	color: #666666;
	font-size: 0.8em;
}

#report .page ul li:hover {
	background: #2980B9;
	color: white;
}

#report .page .active {
	background: #2980B9;
	color: white;
}
#report > div:nth-child(2){
	width:100%;
	height:70%;
	padding:20px 30px;
}
#report > div:nth-child(3){
	text-align:center;
}

#report > div:nth-child(3) button{
	margin:0 20px;
}
@media only screen and (min-width: 991px) and (max-width: 1400px) {
	.modal-box {
		position: absolute;
		right: 0;
		height: 100%;
		width: 50%;
		background: white;
		overflow: scroll;
		padding: 0px;
		padding: 0 15px;
	}
	.tansuo{
        position: fixed;
        right: 50%;
		margin-right:-475px;
        top:150px;
        
    }
    .tansuo li{
        list-style: none;
        clear: both;
        cursor: pointer;
    }
    .tansuo li>div:first-child{
        display: none;
        padding: 3px 4px;
        background: black;
        opacity: 0.9;
        border-radius: 3px;
        float: left;
        color: #FFFFFF;
        font-size:16px;
        margin-bottom: 0;
    }
    .tansuo li>div:last-child{
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height:18px;
        border: 1px solid #999;
        margin-top:5px;
        margin-left: 10px;
        float: right;
        background: #ffffff;
        opacity: 0.7;
        margin-bottom:0;
    }
    .tansuo li span{
        font-size: 18px;
        color: #999;
		line-height:25px;
    }
    .tansuo li img{
        width: 12px;
        margin-top:8px;
    }
    .pinglun{
        width: 660px;
        margin:0 auto;
    }
    .pinglun button{
        display: block;
        border: none;
        padding: 3px 10px;
        color: #FFF;
        background: #FFC09F;
        cursor: pointer;
        margin-left: 600px;
    }
    .comment{
        width: 660px;
        margin-top: 15px;
        margin-bottom: 15px;
        border: none;
        height:25px;
        resize: none;
        outline: none;
        font-size:14px;
        border-bottom: 1px solid #f2f2f2;
        overflow: hidden;
    }
}

@media only screen and (max-width:991px) {
	#news {
		position: relative;
		width: 95%;
		padding: 20px 30px;
		margin: 0 auto;
		height: auto;
		min-height: 600px;
		margin-top: 30px;
		border: 1px solid lightgray;
	}
	#news h3 {
		font-size: 1.3em;
		line-height: 35px;
	}
	#news .news-info {
		font-size: 1.1em;
	}
	
	#news .news-box p {
		font-size: 1.0em;
		text-indent: 31px;
		line-height: 30px;
		text-align: left;
		word-break:break-all;
	}
	
	#modal .user-box {
		width: 100%;
		position: relative;
		margin: 0 auto;
		padding: 20px 0px;
		overflow: hidden;
	}
	
	.modal-box {
		position: absolute;
		right: 0;
		height: 100%;
		width: 100%;
		background: white;
		overflow: scroll;
		padding: 0px;
		padding: 0 15px;
	}
	
	#modal .comment>ul>li>div:nth-child(1) {
		float: left;
		width: 50px;
		height: 50px;
		position: relative;
		top: 5px;
	}
	#modal .comment>ul>li>div:nth-child(2) {
		float: right;
		width: calc(100% - 60px);
		height: auto;
		padding: 10px 0;
	}
	#modal .comment {
		position: relative;
		width: 100%;
		padding: 20px 10px;
		box-sizing: border-box;
		margin: 10px auto 20px auto;
		height: auto;
		font-size: 0.8em;
	}
	#modal .comment .page ul li {
		list-style: none;
		float: left;
		box-sizing: border-box;
		width: 23px;
		margin: 0 5px;
		height: 23px;
		border: 1px solid #E1E1E1;
		line-height: 21px;
		text-align: center;
		cursor: pointer;
		color: #666666;
	}
	footer {
		position: relative;
		width: 95%;
		height: auto;
		text-align: center;
		font-size: 0.5em;
		line-height: 20px;
		letter-spacing: 1px;
		color: #696969;
		border-top: 2px solid #DEDEDE;
		padding-top: 10px;
		box-sizing: border-box;
		margin: 30px auto 0 auto;
	}
	.tansuo{
        position: fixed;
        right: 2.5%;
        margin-right:0px;
        bottom:52px;
    }
    .tansuo li{
        list-style: none;
        float: left;
        display: block;
        margin-right: 5px;
        margin-top:10px;
        cursor: pointer;
    }
    .tansuo li>div:first-child{
        padding: 3px 4px;
        background: black;
        opacity: 0.9;
        border-radius: 3px;
        color: #FFFFFF;
        font-size:16px;
        margin-bottom: 0;
        text-align: center;
        display: none;
    }
    .tansuo li>div:last-child{
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height:12px;
        border: 1px solid #999;
        margin-top:5px;
        margin-right: 5px;
        float: right;
        background: #ffffff;
        opacity: 0.7;
        margin-bottom:0;
    }
    .tansuo li span{
        font-size: 18px;
        color: #999;
    }
    .tansuo li img{
        width: 12px;
        /*margin-top:8px;*/
    }
    .pinglun{
        width: 90%;
        margin:0 auto;
    }
    .pinglun button{
        display: block;
        border: none;
        padding: 3px 10px;
        color: #FFF;
        background: #FFC09F;
        cursor: pointer;
        margin-left: 80%;
    }
    .comment{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        border: none;
        height:25px;
        resize: none;
        outline: none;
        font-size:14px;
        border-bottom: 1px solid #f2f2f2;
        overflow: hidden;
    }
    .pinglun_list{
        width:100%;
    }
	#report {
	    width: 80%;
		height: 400px;
		background: #F0F0F0;
		position: fixed;
		margin: 0 auto;
		top: 50%;
		margin-top: -200px;
		border: 3px solid darkgray;
		padding: 10px 10px;
		box-sizing: border-box;
		display: none;
		left:10%;
    }
	#report ul li{
	    float:left;
	    width:50%;
    }
}
