* {
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul li {
	list-style: none;
}





header>ul:nth-child(2) a:nth-child(1) li {
    background: #6BAFD6!important;
}




#wrapper {
	width: 950px;
	height: auto;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
}

#wrapper .top {
	width: 100%;
	height: 40px;
	border: 1px solid #E0E0E0;
	line-height: 40px;
	font-size: 12px;
}

#wrapper .top div {
	float: left;
	display: inline-block;
	width: 110px;
	background: url(../img/right_s.png) top 12px right -3px no-repeat;
}

#wrapper .top div span {
	display: inline-block;
	background: #F6F6F6;
	width: 100px;
	letter-spacing: 1px;
	text-align: center;
}

#wrapper .top ul {
	position: relative;
	left: 10px;
}

#wrapper .top ul li {
	float: left;
	margin: 0 5px;
}

#wrapper .top ul li a {
	color: black;
}

#wrapper .top ul li i {
	background: url(img/right.png) no-repeat 100%;
	width: 9px;
	height: 9px;
	margin-left: 3px;
	display: inline-block;
}

#wrapper .left {
	float: left;
	width: 630px;
	height: auto;
	border: 1px solid #E0E0E0;
}

#wrapper .head {
	width: 100%;
	height: 50px;
	border-top: 2px solid #2980B9;
	background: #F8F8F8;
	padding: 0 30px;
	box-sizing: border-box;
}

#wrapper .head span {
	color: #5A5A5A;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 50px;
}

#wrapper .left .content {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 20px 50px 0px 50px;
}

#wrapper .left .content>ul>li {
	width: 100%;
	height: 130px;
	border-bottom: 1px solid #DDDDDD;
	padding: 15px 0 15px 0;
}

#wrapper .left .content>ul>li>div:nth-child(1) {
	width: 20%;
	float: left;
	height: 100px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}

#wrapper .left .content>ul>li>div:nth-child(1)>a {
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
}

#wrapper .left .content>ul>li>div:nth-child(1) img {
	width:100%;
	/*height: 100%;*/
	position: relative;
}

#wrapper .left .content>ul>li>div:nth-child(2) {
	width: 78%;
	height: 100px;
	padding: 10px 20px;
	box-sizing: border-box;
	float: right;
}

#wrapper .left .content>ul>li div:nth-child(2)>ul>li:nth-child(1) {
	font-size: 15px;
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

#wrapper .left .content>ul>li div:nth-child(2)>ul>li:nth-child(2) {
	font-size: 12px;
	line-height: 20px;
	height: 40px;
	box-sizing: border-box;
	overflow: hidden;
}

#wrapper .left .content>ul>li div:nth-child(2)>ul>li:nth-child(3) {
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	width: 100%;
}

#wrapper .left .info div:nth-child(1) {
	float: left;
	color: #9C9C9C;
}

#wrapper .left .info div:nth-child(2) {
	float: right;
	color: #9C9C9C;
}

#wrapper .left .info div:nth-child(1) i {
	margin-right: 5px;
}

#wrapper .left .info div:nth-child(2) i {
	margin-right: 5px;
}

#wrapper .left .content .page {
	position: relative;
	display: inline-block;
	width: 100%;
	top: 30px;
	height: 80px;
	text-align: center;
}

#wrapper .left .content .page ul {
	display: inline-block;
	width: auto;
	height: 100%;
	border: 0;
}

#wrapper .left .content .page ul li {
	list-style: none;
	float: left;
	box-sizing: border-box;
	width: 33px;
	margin: 0 5px;
	height: 30px;
	border: 1px solid #E1E1E1;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	color: #666666;
}

#wrapper .left .content .page ul li:hover {
	background: #2980B9;
	color: white;
}

#wrapper .left .content .page .active {
	background: #2980B9;
	color: white;
}

#wrapper .right {
	float: right;
	width: 310px;
	height: auto;
	border: 1px solid #E0E0E0;
	background: #F8F8F8;
}

#wrapper .right .head {
	border-bottom: 1px solid #E5E5E5;
}

#wrapper .right .head span {
	color: #4C4C4C;
	font-size: 16px;
}

#wrapper .right .content {
	padding: 20px 30px;
}

#wrapper .right .content ul {
	min-height: 30px;
	width: 100%;
	display: block;
	margin: 10px 0 30px 0;
	overflow: hidden;
}

#wrapper .right .content ul li {
	float: left;
	line-height: 28px;
}

#wrapper .right .content ul li a:after {
	margin: 0 7px 0 7px;
	font-size: 13px;
	position: relative;
	top: -1px;
	content: '|';
}

#wrapper .right .content ul li:last-child a:after {
	content: '';
}

#wrapper .right .content ul li a {
	color: #666666;
	font-size: 14px;
}

/*#wrapper .left .content .page {
	position: relative;
	display: inline-block;
	width: 100%;
	top: 30px;
	height: 30px;
	text-align: center;
}

#wrapper .left .content .page ul {
	display: inline-block;
	width: auto;
	height: 100%;
	border: 0;
}

#wrapper .left .content .page ul li {
	list-style: none;
	float: left;
	box-sizing: border-box;
	width: 33px;
	margin: 0 5px;
	height: 30px;
	border: 1px solid #E1E1E1;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	color: #666666;
}

#wrapper .left .content .page ul li:hover {
	background: #32B16C;
	color: white;
}

#wrapper .left .content .page .active {
	background: #32B16C;
	color: white;
}*/

.clear {
	clear: both;
}

#wrapper .right2 {
	display: none;
}

#modal {
	top: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 10000;
	display: none;
}

.modal-box {
	width: 600px;
	height: 500px;
	background: #F0F0F0;
	position: relative;
	margin: 0 auto;
	top: 50%;
	margin-top: -250px;
	border: 3px solid darkgray;
	padding: 20px 30px;
	box-sizing: border-box;
	display: none;
}

.modal-box>div:nth-child(1) {
	position: relative;
	width: 100%;
	height: 50%;
}

.modal-box>div:nth-child(1) div:nth-child(1) {
	width: 50%;
	height: 100%;
	float: left;
	overflow: hidden;
}

.modal-box>div:nth-child(1) div:nth-child(1) img {
	width: 65%;
	position: relative;
	height: 90%;
	top: 5%;
	left: 17.5%;
	box-shadow: 0 0 30px darkslategray;
}

.modal-box>div:nth-child(1) div:nth-child(2) {
	width: 50%;
	height: 100%;
	float: left;
	padding: 20px 10px;
}

.modal-box>div:nth-child(1) div:nth-child(2) ul li {
	width: 100%;
	line-height: 30px;
	/*text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;*/
}

.modal-box>div:nth-child(2) {
	position: relative;
	width: 100%;
	height: 35%;
	padding: 20px 30px;
	box-sizing: border-box;
}

.modal-box>div:nth-child(2) p {
	line-height: 22px;
	font-size: 13px;
	letter-spacing: 1px;
	text-indent: 28px;
}

.modal-box>div:nth-child(3) {
	position: relative;
	width: 100%;
	height: 15%;
	text-align: center;
}

.modal-box>div:nth-child(3) div {
	position: relative;
	display: inline-block;
	width: auto;
	line-height: 67.5px;
}

.modal-box>div:nth-child(3) div button {
	margin: 0 20px;
}

.modal-box2 {
	width: 600px;
	height: 500px;
	background: #F0F0F0;
	position: relative;
	margin: 0 auto;
	top: 50%;
	margin-top: -250px;
	border: 3px solid darkgray;
	padding: 20px 30px;
	box-sizing: border-box;
	display: none;
}

.modal-box2>div:nth-child(1) {
	position: relative;
	width: 100%;
	height: 30%;
	padding: 0 30px;
}

.modal-box2>div:nth-child(1) li {
	margin-bottom: 10px;
	/*text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;*/
}

.modal-box2>div:nth-child(1) li h3 {
	margin-bottom: 15px;
	font-weight: bold;
}

.modal-box2>div:nth-child(2) {
	position: relative;
	width: 100%;
	height: 58%;
	padding: 20px 30px;
	box-sizing: border-box;
}

.modal-box2>div:nth-child(2) p {
	line-height: 25px;
	font-size: 13px;
	letter-spacing: 1px;
	text-indent: 28px;
}

.modal-box2>div:nth-child(3) {
	position: relative;
	width: 100%;
	height: 12%;
	text-align: center;
}

.modal-box2>div:nth-child(3) div {
	position: relative;
	display: inline-block;
	width: auto;
	line-height: 67.5px;
}

.modal-box2>div:nth-child(3) div button {
	margin: 0 20px;
}

#discuss {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

.discuss-box {
	position: absolute;
	right: 0;
	height: 100%;
	width: 30%;
	background: white;
	overflow: scroll;
	padding: 0;
}

.discuss-box .btn-danger {
	position: relative;
	float: right;
	border-radius: 0;
	background-color:transparent;
	border-color:transparent;
	color:#000000;
}

#discuss .user-box {
	width: 90%;
	position: relative;
	margin: 0 auto;
	padding: 20px 30px;
	overflow: hidden;
}

#discuss .user-box textarea {
	width: 100%;
	outline: none;
	border: 1px solid #1680BB;
	height: 150px;
	padding: 10px;
}

#discuss .user-box .btn {
	float: right;
	margin-top: 20px;
	width: 60px;
}

#discuss .comment {
	position: relative;
	width: 90%;
	padding: 20px 30px;
	box-sizing: border-box;
	margin: 10px auto 0px auto;
	height: auto;
}

#discuss .comment>ul {
	position: relative;
	width: 100%;
	height: auto;
}

#discuss .comment>ul>li {
	position: relative;
	width: 100%;
	height: auto;
	border-bottom: 1px solid darkgray;
	margin-bottom: 20px;
	overflow: hidden;
}

#discuss .comment>ul>li>div:nth-child(1) {
	float: left;
	width: 70px;
	height: 70px;
}

#discuss .comment>ul>li>div:nth-child(2) {
	float: right;
	width: calc(100% - 80px);
	height: auto;
	padding: 10px 0;
}

#discuss .comment>ul>li>div:nth-child(2) p {
	/*overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;*/
	height: auto;
}

#discuss .comment>ul>li>div:nth-child(2) p:nth-child(2) {
	font-size: 0.85em;
}

#discuss .comment>ul>li>div img {
	height: 70%;
	position: relative;
	top: 15%;
	left: 15%;
	width: 70%;
}

#discuss .comment .page {
	position: relative;
	display: inline-block;
	width: 100%;
	top: 30px;
	height: 80px;
	text-align: center;
}

#discuss .comment .page ul {
	display: inline-block;
	width: auto;
	height: 100%;
	border: 0;
}

#discuss .comment .page ul li {
	list-style: none;
	float: left;
	box-sizing: border-box;
	width: 33px;
	margin: 0 5px;
	height: 30px;
	border: 1px solid #E1E1E1;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	color: #666666;
}

#discuss .comment .page ul li:hover {
	background: #32B16C;
	color: white;
}

#discuss .comment .page .active {
	background: #32B16C;
	color: white;
}

footer {
	position: relative;
	width: 950px;
	height: 100px;
	text-align: center;
	font-size: 13px;
	line-height: 30px;
	letter-spacing: 1px;
	color: #696969;
	border-top: 2px solid #DEDEDE;
	padding-top: 10px;
	box-sizing: border-box;
	margin: 30px auto 0 auto;
}

@media only screen and (min-width: 991px) and (max-width: 1400px) {
	.discuss-box {
		position: absolute;
		right: 0;
		height: 100%;
		width: 50%;
		background: white;
		overflow: scroll;
		padding: 0px;
		padding: 0 15px;
	}
}

@media only screen and (max-width: 991px) {
	body {
		background: #FCFCF7!important;
	}
	#wrapper {
		width: 95%;
		height: auto;
		position: relative;
		margin: 0 auto;
		background: white;
		margin-top: 0;
		overflow: hidden;
		background: #FCFCF7!important;
	}
	#wrapper .left {
		float: left;
		width: 100%;
		height: auto;
		border: 1px solid #E0E0E0;
		margin-top: 10px;
	}
	#wrapper .head {
		width: 100%;
		height: 50px;
		border-top: 4px solid #2980B9;
		background: #F8F8F8;
		padding: 0 30px;
		box-sizing: border-box;
	}
	#wrapper .head span {
		color: #212121;
		font-size: 1.3em;
		letter-spacing: 1px;
		line-height: 50px;
		color: #1680BB;
	}
	#wrapper .left .content {
		background: white;
		padding: 0;
	}
	#wrapper .left .content>ul>li {
		width: 100%;
		height: 150px;
		border-bottom: 1px solid #DDDDDD;
		padding: 15px 20px 25px 20px;
	}
	#wrapper .left .content>ul>li>div:nth-child(1) {
		width: 30%;
		float: left;
		height: 100%;
		box-sizing: border-box;
		text-align: center;
		overflow: hidden;
	}
	#wrapper .left .content>ul>li>div:nth-child(1) img {
		/*height: 100%;*/
		position: relative;
	}
	#wrapper .left .content>ul>li>div:nth-child(2) {
		width: 67%;
		height: auto;
		padding: 0px 10px 10px 10px;
		box-sizing: border-box;
		float: right;
	}
	#wrapper .left .content>ul>li>div:nth-child(2) ul li:nth-child(1) {
		font-size: 1.0em;
		height: 30px;
		line-height: 30px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	#wrapper .left .content>ul>li>div:nth-child(2) ul li:nth-child(2) {
		font-size: 0.8em;
		line-height: 20px;
		height: 60px;
		box-sizing: border-box;
		letter-spacing: 1px;
		color: #6E6E6E;
	}
	#wrapper .left .content>ul>li>div:nth-child(2)>ul>li:nth-child(3) {
		font-size: 12px;
		height: 20px;
		line-height: 20px;
		width: 100%;
		font-size: 0.8em;
	}
	#wrapper .left .info div:nth-child(1) {
		float: left;
		color: #9C9C9C;
	}
	#wrapper .left .info div:nth-child(2) {
		float: right;
		color: #9C9C9C;
		margin-right: 10px;
	}
	#wrapper .left .info div:nth-child(1) i {
		position: relative;
		top: 1px;
		margin-right: 10px;
	}
	#wrapper .left .info div:nth-child(2) i {
		position: relative;
		top: 2px;
		margin-right: 10px;
	}
	#wrapper .left .content .page {
		position: relative;
		display: inline-block;
		width: 100%;
		top: 10px;
		height: 30px;
		text-align: center;
	}
	#wrapper .left .content .page ul {
		display: inline-block;
		width: auto;
		height: 100%;
		border: 0;
	}
	#wrapper .left .content .page ul li {
		list-style: none;
		float: left;
		box-sizing: border-box;
		width: 25px;
		margin: 0 2px;
		height: 25px;
		border: 1px solid #E1E1E1;
		line-height: 25px;
		text-align: center;
		cursor: pointer;
		color: #666666;
		font-size: 0.8em;
	}
	.pagination {
		margin-top: 0!important;
	}
	#wrapper .left .content .page ul li:hover {
		background: #2980B9;
		color: white;
	}
	#wrapper .left .content .page .active {
		background: #2980B9;
		color: white;
	}
	#wrapper .right {
		display: none;
	}
	#wrapper .right2 {
		float: left;
		width: 100%;
		margin: 0 auto;
		height: auto;
		border: 1px solid #E0E0E0;
		background: #F8F8F8;
		display: block;
		overflow: hidden;
	}
	
	#wrapper .right2>ul{
		width: 100%;
		height: auto;
		padding: 0 20px;
		margin-bottom: 20px;
		overflow: hidden;
	}
	
	#wrapper .right2>ul li{
		float: left;
		width: auto;
		height: 30px;
		line-height: 30px;
		top: 5px;
		margin: 5px 5px;
		padding: 0 7px;
		position: relative;
		background: #1593FA;
	}
	
	#wrapper .right2>ul li a {
		color: white;
	}

	#wrapper .right2 .head i {
		position: absolute;
		right: 0;
		display: inline-block!important;
		line-height: 55px;
		color: gray;
		cursor: pointer;
		text-align: center;
		width: 50px;
		height: 50px;
	}
	
	/*#wrapper .right2 .head {
		border-bottom: 1px solid #E5E5E5;
	}*/
	#wrapper .right2 .head span {
		color: #4C4C4C;
		font-size: 16px;
	}
	#wrapper .right2 .content {
		padding: 10px 30px;
		display: none;
		overflow: hidden;
	}
	#wrapper .right2 .content ul {
		min-height: 30px;
		width: 100%;
		display: block;
		margin: 10px 0 10px 0;
		overflow: hidden;
	}
	#wrapper .right2 .content ul li {
		float: left;
		line-height: 24px;
	}
	#wrapper .right2 .content ul li a:after {
		margin: 0 7px 0 7px;
		font-size: 0.9em;
		position: relative;
		top: -1px;
		content: '|';
	}
	#wrapper .right2 .content ul li:last-child a:after {
		content: '';
	}
	#wrapper .right2 .content a {
		color: #666666;
		font-size: 14px;
	}
	#discuss .user-box {
		width: 100%;
		position: relative;
		margin: 0 auto;
		padding: 20px 0px;
		overflow: hidden;
	}
	
	.discuss-box {
		position: absolute;
		right: 0;
		height: 100%;
		width: 100%;
		background: white;
		overflow: scroll;
		padding: 0px;
		padding: 0 15px;
	}
	
	#discuss .comment>ul>li>div:nth-child(1) {
		float: left;
		width: 50px;
		height: 50px;
		position: relative;
		top: 5px;
	}
	#discuss .comment>ul>li>div:nth-child(2) {
		float: right;
		width: calc(100% - 60px);
		height: auto;
		padding: 10px 0;
	}
	#discuss .comment {
		position: relative;
		width: 100%;
		padding: 20px 10px;
		box-sizing: border-box;
		margin: 10px auto 20px auto;
		height: auto;
		font-size: 0.8em;
	}
	#discuss .comment .page ul li {
		list-style: none;
		float: left;
		box-sizing: border-box;
		width: 23px;
		margin: 0 5px;
		height: 23px;
		border: 1px solid #E1E1E1;
		line-height: 21px;
		text-align: center;
		cursor: pointer;
		color: #666666;
	}
	.modal-box {
		width: 80%;
		height: 400px;
		background: #F0F0F0;
		position: relative;
		margin: 0 auto;
		top: 50%;
		margin-top: -200px;
		border: 3px solid darkgray;
		padding: 10px 10px;
		box-sizing: border-box;
		display: none;
	}
	.modal-box>div:nth-child(1) {
		position: relative;
		width: 100%;
		height: 50%;
	}
	.modal-box>div:nth-child(1) div:nth-child(1) {
		width: 50%;
		height: 100%;
		float: left;
		overflow: hidden;
	}
	.modal-box>div:nth-child(1) div:nth-child(1) img {
		width: 70%;
		position: relative;
		left: 15%;
		box-shadow: 0 0 15px darkslategray;
	}
	.modal-box>div:nth-child(1) div:nth-child(2) {
		width: 50%;
		height: 100%;
		float: left;
		padding: 30px 10px;
	}
	.modal-box>div:nth-child(1) div:nth-child(2) ul li {
		width: 100%;
		line-height: 22px;
		/*text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;*/
		font-size: 0.7em;
	}
	.modal-box>div:nth-child(2) {
		position: relative;
		width: 100%;
		height: 35%;
		padding: 0 30px;
		box-sizing: border-box;
	}
	.modal-box>div:nth-child(2) p {
		line-height: 16px;
		font-size: 0.7em;
		text-indent: 22px;
	}
	.modal-box2 {
		width: 80%;
		height: 400px;
		background: #F0F0F0;
		position: relative;
		margin: 0 auto;
		top: 50%;
		margin-top: -200px;
		border: 3px solid darkgray;
		padding: 10px 10px;
		box-sizing: border-box;
	}
	
	.modal-box2>div:nth-child(1) {
		position: relative;
		width: 100%;
		height: 30%;
		padding: 0 30px;
	}
	
	.modal-box2>div:nth-child(1) li {
		margin-bottom: 10px;
		/*text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;*/
	}
	
	.modal-box2>div:nth-child(1) li h3 {
		margin-bottom: 5px;
		font-weight: bold;
		font-size:18px;
	}
	
	.modal-box2>div:nth-child(2) {
		position: relative;
		width: 100%;
		height: 58%;
		padding: 10px 30px;
		box-sizing: border-box;
	}
	
	.modal-box2>div:nth-child(2) p {
		line-height: 16px;
		font-size: 0.7em;
		letter-spacing: 1px;
		text-indent: 22px;
	}
	
	.modal-box2>div:nth-child(3) {
		position: relative;
		width: 100%;
		height: 12%;
		text-align: center;
	}
	
	.modal-box2>div:nth-child(3) div {
		position: relative;
		display: inline-block;
		width: auto;
		line-height: 67.5px;
	}
	
	.modal-box2>div:nth-child(3) div button {
		margin: 0 20px 30px 20px;
	}
	footer {
		position: relative;
		width: 95%;
		height: auto;
		text-align: center;
		font-size: 0.5em;
		line-height: 20px;
		letter-spacing: 1px;
		color: #696969;
		border-top: 2px solid #DEDEDE;
		padding-top: 10px;
		box-sizing: border-box;
		margin: 30px auto 0 auto;
	}
}