*{
	padding: 0;
	margin: 0;
	font-family: "宋体";
}
#wrap{
	width: 700px;
	margin: 0 auto;
	margin-top: 20px;
}
#wrap h1{
	font-family: "华文新魏";
	text-align: center;
	letter-spacing: 2px;
	font-weight: bold;
}
#wrap h4{
	text-align: center;
	font-family: "宋体 (中文正文)";
	letter-spacing: 3px;
	color: #666;
} 
.container-fuid>p{
	margin-left:10px;
	text-align: left;
	color: #666;
}
/* 星期一的内容 */
table tr td{
	border:1px solid #ccc;
	font-size: 16px;
}

table tr:nth-child(2)>td>span{
	line-height: 1;
}
.phone, .people{
	line-height: 1;
}
/* 星期二的内容设置 */
table tr:nth-child(4)>td:first-child{
	line-height: 1;
}
table tr:nth-child(5)>td:first-child{
	line-height: 1;
}
table tr:nth-child(5)>td>span{
	line-height: 1;
}
table tr:nth-child(8)>td:first-child{
	line-height: 1;
}
table td:first-child{
	width:26%;
	color: #666;
}
table td:nth-child(3){
	width:20%;
	color: #666;
}
/* 有颜色的背景色设置 */
.tr-bg{
	background: #99ccff;
	color: #fff;
	font-family: "宋体";
	font-size: 16px;
	font-weight: bold;
	border:1px dashed #000;
	text-align: center;
}
.tr-bg td{
	border:none;
	text-align: center;
}
table .tr-bg td{
	color: #fff;
}
table{
	border-top: 3px solid #b5d5de;
	border-bottom: 3px solid #b5d5de;
}
table tr{
	border-top: 1px dashed #b5d5de;
	border-bottom: 1px dashed #b5d5de;
}
table tbody tr td{
	border:1px dashed #b5d5de;
}
@media only screen and (min-width: 100px) and (max-width: 736px) {
	*{
		font-family: "宋体";
	}
	#wrap{
		width: 100%;
	}
	.container-fuid h1{
		font-size: 22px;
	}
	.container-fuid>p{
		font-size: 13px;
		color: #666;
	}
	#wrap h4{
		font-size: 16px;
		color: #666;
	}
	table{
		border-left: none;
		border-right:none;
	}
	table tr:nth-child(4)>td:first-child{
		line-height: 1;
	}
	table tr:nth-child(4)>td:first-child{
		line-height: 1.4;
	}
	table tr:nth-child(5)>td:first-child{
		line-height: 1.4;
	}
	table tr:nth-child(5)>td>span{
		line-height: 1;
	}
	table tr:nth-child(8)>td:first-child{
		line-height: 1;
	}
	table td:first-child{
	    padding-left:0;
	    padding-right:0;
		width:20%;
		border-left:none;
		color: #666;
		font-size: 13px;
	}
	table td:nth-child(2){
		font-size: 16px;
	}
	table td:nth-child(2){
		font-size: 14px;
	}
	table td:nth-child(3){
		border-right:none;
		color: #666;
		font-size: 13px;
	}
	.tr-bg{
		background: #99ccff;
		color: #fff;
		font-family: "宋体";
		font-size: 16px;
		font-weight: bold;
		border:1px dashed #000;
		text-align: center;
		border-left: none;
		border-right: none;
	}
	table .tr-bg td{
		color: #fff;
	}

}
@media (max-width: 768px){
	#wrap{
		width: 100%;
	}
	#wrap h1{
		font-size: 22px;
	}
}