*{
	padding: 0;
	margin: 0;
	font-family: '宋体';
}
#vipServer{
	width:700px;
	margin:0 auto;
	margin-top: 20px;
	border-bottom: none;
}
/* 会议日程的头部设置 */
.vip>h1{
	font-family: '华文新魏';
	text-align: center;
	letter-spacing: 2px;
	font-weight: bold;
}
.vip>h4{
	text-align: center;
	font-family: "宋体 (中文正文)";
	letter-spacing: 3px;
	color: #666;
}
.vip>p{
	text-align: left;
	color: #666;
}
/* 对表格线的设置 */

@media only screen and (min-width: 100px) and (max-width: 736px) {
	#vipServer{
		width: 100%;
		margin-top:10px;
	}
	.vip>p{
		text-align: left;
		font-size: 13px;
		color: #666;
	}
	.vip>h1{
		font-size: 22px;
	}
}
@media (max-width: 768px){
	#vipServer{
		width:100%;
	}
	.vip>h1{
		/*font-size: 28px;*/
	}
}
