@CHARSET "UTF-8";



/*--------------Pj 复选框样式-------------------*/
div.attrValues{
	width: 90%;
}
/* IE7 列表有时候会出现梯装布局 为了兼容IE7*/
div.attrValues ul{
	*display: inline-block;
	*float:left;
}
div.attrValues ul li {
	float: left;
	list-style: none;
	height: 22px;
	line-height: 22px;
	padding: 0px;
	display: list-item;
	width: 100px;
	overflow: hidden;
	text-overflow:ellipsis;
	color: #806F66;
	display: inline-block;
	white-space: nowrap;
	position: relative;
}
div.attrValues ul li input{
	width: 20px;
	border: 0px;
    padding: 0px;
    visibility: hidden;
}

div.attrValues ul li input:hover{
	border: 0px;
 	background-color: white;
}

div.attrValues ul li label{
	padding-left: 4px;
}

div.attrValues ul li div{
	position: absolute;
	width: 20px;
	height: 20px; 
	cursor:hand;
	background-color: white;
	background-repeat: no-repeat;
}
div.attrValues ul li div.checkbox{
	background-position: 0px -20px;
	background-image: url('../../img/checkbox.png');
}
div.attrValues ul li div.checkboxed{
	background-position: 0px -63px;
	background-image: url('../../img/checkbox.png');
}
div.attrValues ul li div.radio{
	background-position: 0px 1px;
	background-image: url('../../img/radio.png');
}
div.attrValues ul li div.radioed{
	background-position: 0px -19px;
	background-image: url('../../img/radio.png');
}
